<!-- begin::Row -->
<div>
  <div class="row gy-5 g-xl-8">
    <div class="row-xxl-4">
      <app-mixed-widget2
        class="card card-xl-stretch mb-xl-8"
        chartColor="danger"
        chartHeight="100px"
        strokeColor="#cb1e46"
      ></app-mixed-widget2>
    </div>
    <!-- <div class="col-xxl-4">
      <app-lists-widget5 class="card card-xxl-stretch"></app-lists-widget5>
    </div>
    <div class="col-xxl-4">
      <name-generator class="card card-xl-stretch mb-xl-8"></name-generator>
    </div> -->
  </div>
  <div class="row gy-5 g-xl-8">
    <div class="col-xxl-6">
      <app-lists-widget5 class="card card-xxl-stretch"></app-lists-widget5>
    </div>
    <div class="col-xxl-6">
      <name-generator class="card card-xl-stretch mb-xl-8"></name-generator>
    </div>
  </div>
  <!-- end::Row -->
  
  <!-- begin::Row -->
  <div class="row gy-5 g-xl-8">
    <div class="col-xl-4">
      <twitter-mca-widget class="card card-xl-stretch mb-xl-8"></twitter-mca-widget>
    </div>
    <div class="col-xl-4">
      <twitter-it-widget class="card card-xl-stretch mb-xl-8"></twitter-it-widget>
    </div>
    <div class="col-xl-4">
      <twitter-gst-widget class="card card-xl-stretch mb-xl-8"></twitter-gst-widget>
    </div>
  </div>
  <!-- end::Row -->
  
</div>
